{% extends 'base.html.twig' %}
{% form_theme passForm 'bootstrap_4_layout.html.twig' %}
{% block title %}
    Réglages
{% endblock %}
{% block bread_cumb %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="{{ path('responsable') }}">Profile</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Réglages</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header text-center">
                        <h5>Changer le mot de passe</h5>
                    </div>
                    <div class="card-body">
                        {{ form_start(passForm) }}
                        {{ form_end(passForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
