{% extends 'base.html.twig' %}
{% block title %}
    Tableau de bord
{% endblock %}
{% block bread_cumb %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Tableau de bord</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block body %}
    {% if app.request.get('login') %}
        <script>
            toastr["success"]("Bienvenue !");
        </script>
    {% endif %}
{% endblock %}
