{% extends 'base.html.twig' %}
{% block title %}
    Profile
{% endblock %}
{% block bread_cumb %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Profile</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="div col-md-3">
                <div class="card"></div>
            </div>
            <div class="div col">
                <div class="card"></div>
            </div>
        </div>
    </div>
{% endblock %}