{% extends 'base.html.twig' %}

{% block title %}Livres{% endblock %}
{% block bread_cumb %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Livres</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block body %}
    <div class="card card-body">
        <div>
            <a href="#filters" data-toggle="collapse"
               role="button" aria-expanded="false"
               aria-controls="filters">
                <i class="fas fa-chevron-down"></i> Filtres avancés
            </a>
            <div id="filters" class="collapse">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="statut">Statut :</label>
                                    <select name="statut" id="statut" class="form-control form-control-sm">
                                        <option value=""></option>
                                        <option value="1">Disponible</option>
                                        <option value="0">Indisponible</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="range">Période :</label>
                                    <input id="daterange" type="text" name="range"
                                           class="form-control form-control-sm date-range">
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="domaine">Domaine :</label>
                                    <select name="domaine" id="domaine" class="form-control form-control-sm">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-primary" id="filter_button">Appliquer</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="toolbar">
            <select id="exportType" class="form-control form-control-sm">
                <option value="basic">Export Basique</option>
                <option value="all">Exporter Tout</option>
                <option value="selected">Export Selection</option>
            </select>
        </div>

        <table id="table"
               data-url="books/get"
               data-toggle="table"
               data-id-field="id"
               data-toolbar="#toolbar"
               data-classes="table table-bordered table-hover table-sm"
               {#data-card-view="true"#}
               data-mobile-responsive="true"
               data-sort-class="table-active"
               data-pagination="true"
               data-search="true"
               data-show-columns="true"
               data-show-pagination-switch="true"
               data-show-refresh="true"
                {#data-key-events="true"#}
                {#data-show-toggle="true"#}
                {#data-remember-order="true"#}
                {#data-cookie="true"#}
                {#data-cookie-id-table="saveId"#}
               data-show-export="true"
               data-click-to-select="true"
               data-show-fullscreen="true"
               data-maintain-selected="true"
        >
            <thead>
            <tr>
                <th data-field="state" data-checkbox="true" data-halign="center"></th>
                <th data-field="id" data-halign="center" data-align="center">ID</th>
                <th data-field="statut" data-sortable="true" data-formatter="statutFormatter"
                    data-align="center" data-halign="center">
                    Statut
                </th>
                <th data-field="couverture" data-formatter="coverFormatter" data-align="center" data-halign="center">
                    Couvert
                </th>
                <th data-field="isbn" data-sortable="true" data-align="center" data-halign="center">ISBN</th>
                <th data-field="titrePrincipale" data-sortable="true" data-formatter="textFormatter"
                    data-halign="center">Titre Principale
                </th>
                <th data-field="titreSecondaire" data-sortable="true" data-formatter="textFormatter"
                    data-halign="center">Titre Secondaire
                </th>
                <th data-field="authors" data-sortable="true" data-halign="center">Auteurs</th>
                <th data-field="edition" data-sortable="true" data-align="center" data-halign="center">Année d'édition
                </th>
                <th data-field="prix" data-sortable="true" data-align="center" data-halign="center">Prix</th>
                <th data-field="n_pages" data-sortable="true" data-align="center" data-halign="center">Pages</th>
                <th data-field="categorie" data-sortable="true" data-align="center" data-halign="center">Catégorie</th>
                <th data-field="date_aquis" data-sortable="true" data-align="center" data-halign="center">Date
                    d'acquisition
                </th>
                <th data-field="quantité" data-sortable="true" data-formatter="quantiteFormatter" data-align="center"
                    data-halign="center">
                    Quantité
                </th>
                <th data-field="observation" data-formatter="textFormatter" data-halign="center">Observation</th>
                <th data-field="tags" data-formatter="tagsFormatter" data-halign="center">Mots Clés</th>
                <th data-field="action" data-formatter="operateFormatter" data-events="operateEvents">Action</th>
            </tr>
            </thead>
        </table>
    </div>

{% endblock %}
{% block javascripts %}

    {{ encore_entry_script_tags('booksTable') }}

    <script>

        // Data formatters

        function statutFormatter(value) {
            let statut, badge;
            if (value > 0) {
                statut = 'Disponible';
                badge = 'success';
            } else {
                statut = 'Indisponible';
                badge = 'secondary';
            }
            return '<span class="badge badge-pill badge-' + badge + '" style="margin-bottom: 5px">' + statut + '</span>';
        }

        function coverFormatter(value) {
            let element = '<img src="';
            if (value.match(/[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g))
                element+=value;
            else
                element+= '/img/livres/' + value;
            return element + '" style="height: 70px; width: 49px;" ' +
                'alt="book-cover" onerror="this.onerror=null;this.src=\'https://i.imgur.com/yNW4lQK.png\'">';
        }

        function tagsFormatter(value) {
            let tags = value.split(',').sort();
            let result = '';
            for (let i = 0; i < tags.length; i++) {
                result += '<span class="badge badge-primary">' + tags[i] + '</span> ';
            }
            return result;
        }

        function authorsFormatter(value) {
            let authors = value.split(',').sort();
            let result = '';
            for (let i = 0; i < authors.length; i++) {
                result += authors[i];
                if (i !== authors.length - 1)
                    result += '<br>';
            }
        }

        function quantiteFormatter(value) {
            return '<span class="badge badge-pill badge-danger">' + value + '</span>';
        }

        function textFormatter(value) {
            if (!value) value = "";
            return '<span style="display: flex; flex-direction: row; max-height: 70px; overflow: auto;">' + value + '</span>';
        }

        function dateFormatter(value) {
            console.log("my object: %o", value.timezone.transitions[0].time.toString());
            return value.timezone.transitions[0].time;
        }

        // function actionFormatter(value, row, index) {
        //     return [
        //         '<a class="edit" href="javascript:void(0)">',
        //         '<i class="far fa-edit fa-lg"></i>',
        //         '</a>'
        //     ].join('')
        // }
        //
        // let operateEvents = {
        //     'click .edit': function (e, value, row, index) {
        //         alert('You click like action, row: ' + JSON.stringify(row))
        //     }
        // };

        window.operateEvents = {
            'click .edit': function (e, value, row) {
                // alert('You click like action, row: ' + JSON.stringify(row.id))
                window.location.href = "/books/" + JSON.stringify(row.id) + "/edit";
            }
        };

        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" href="#" title="Like">',
                '<i class="far fa-edit fa-lg"></i>',
                '</a>'
            ].join('')
        }

    </script>

{% endblock %}
