{% extends 'base.html.twig' %}
{% block title %}
    Responsables
{% endblock %}
{% block bread_cumb %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Responsables</li>
                </ol>
            </nav>
        </div>
    </div>
{% endblock %}
{% block body %}

{% endblock %}
