<div class="ui search mb-5">
    <div class="ui left icon input">
        <input name="q" class="prompt" type="text" value="{{ app.request.query.get('q') }}" placeholder="Recherche..."
               style="width: 400px;">
        <i class="icon cui-magnifying-glass"></i>
    </div>
</div>
